<!DOCTYPE html>
<html lang="en">
<%- include("_head") %>

  <body>
    <%- include("_navigation") %>
      <%- include("_page_header") %>

        <!-- Main Content -->
        <div class="container">
          <%- include("../" +pages) %>
        </div>

        <hr />

        <%- include("_footer") %>
  </body>

</html>